<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">

</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
<header th:replace="~{fragments/commons::navigation}">
</header>

    <div class="info">
        <div></div>
        <div>
            <h4>За нас</h4>

            Kakvo e towa? Ami opisanie!!!!

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur consequuntur dolores error est
            fugit
            illo illum iure libero, necessitatibus, nihil possimus recusandae repudiandae sapiente similique sunt
            tenetur
            Accusantium at dicta dignissimos doloribus ducimus natus obcaecati.
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/commons::footer}">
</footer>
</html>